body {
  background-color: black;
}
#text{
	/*display: inline;*/
	color : white;
	font-size: 10px;
}

/*#showMebkp {
  animation: cssAnimation 0s 1s forward;
	animation-iteration-count: infinite;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}*/



@keyframes example {
  0%   {color:black;}
  25%  {color:white;}
  50%  {color:black;}
  75%  {color:white;}
  100% {color:black;}
}


#showMe {
	/*display: inline;*/
 	font-size: 10px;
	animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}